<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RPI PrinterQ</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-custom.css">
  </head>
  <body>
    <div id="container">
      <!-- Main Content -->
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <p class="footer-content">Created and maintained by <a href="https://github.com/albshin">Albert Shin</a> for Rensselaer Polytechnic Institute.</p>
        <p class="footer-content pull-right">View on <a href="https://github.com/albshin/rpi-printerQ">Github</a>.</p>
      </div>
    </footer>    
    <script src="static/js/bundle.js"></script>
  </body>
</html>
